{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <style>
        .menu-list {
            background-color: #fd7e14;
            transition: .1s ease-out;
            transition-delay: 0.1s;
        }

        .menu-list:hover {
            background-color: aliceblue;
            color: #fd7e14;
            transition: .1s ease-out;
            transition-delay: 0.2s;
        }

        .food {
            width: 18rem;
            color: aliceblue;
            background-color: #fd7e14;
            transition: .1s ease-out;
            transition-delay: 0.1s;
        }

        .food:hover {
            background-color: #FF3500;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
            transition: .1s ease-out;
            transition-delay: 0.2s;
        }
    </style>
    <div class="container">

        <div class="row">


            <div class="col-lg-3">

                <h1 class="my-4">Shop Name</h1>
                <div class="list-group list-group-flush" style="border-radius: 15px">
                    {% for category in categories %}
                        <a href="{% url 'menu:category_detail' ct_model=category.model_name slug=category.slug %}"
                           class="list-group-item menu-list">{{ category.name }}</a>
                    {% endfor %}
                </div>

            </div>
            <!-- /.col-lg-3 -->

        </div>

        <div class="row">

            {% for elm in food %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 food">
                        <a href=""><img class="card-img-top"
                                        src="{{ elm.img }}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#" style="color: aliceblue">{{ elm.name }}</a>
                            </h4>
                            <p class="card-text">{{ elm.composition }}</p>
                        </div>
                        <div class="card-footer">
                            <h5>{{ elm.price }} ₸</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

    </div>
{% endblock %}