{% extends 'base.html' %}

{% block title %}
    {{ food.name }}
{% endblock %}

{% block content %}
    <div class="container" style="margin-bottom: 500px; margin-top: 40px">
        <div class="row">
            <div class="col-12" style="margin-left: 200px">
                <div class="col-12">
                    <h3 class="display-3">
                        {{ food.name }}
                    </h3>
                </div>
                <div class="col-md-8">
                    <figure class="figure">
                        <img src="{{ food.img }}" class="figure-img img-fluid rounded" alt="...">
                        <figcaption class="figure-caption">{{ food.weight }}</figcaption>
                    </figure>
                    {% if food.description %}
                        <p class="card-text"><strong>Описание:</strong> {{ food.description }}</p>
                    {% endif %}
                    <h6 style="color: gray">
                        <strong>Состав:</strong> {{ food.composition }}
                    </h6>
                    <h4 style="color: #fd7e14">
                        {{ food.price }} <strong>₸</strong>
                    </h4>
                    {#                    <a href="{% url 'menu:add_to_cart' ct_model=ct_model slug=pizza.slug %}">#}
                    {#                        <button class="btn btn-danger">Добавить в корзину</button>#}
                    {#                    </a>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

