{% extends 'base.html' %}

{% block title %}
    Соусы
{% endblock %}

{% block content %}
    <style>
        .menu-list {
            background-color: #fd7e14;
            transition: .1s ease-out;
            transition-delay: 0.1s;
        }

        .menu-list:hover {
            background-color: aliceblue;
            color: #fd7e14;
            transition: .1s ease-out;
            transition-delay: 0.2s;
        }

        .food {
            width: 18rem;
            color: aliceblue;
            background-color: #fd7e14;
            transition: .1s ease-out;
            transition-delay: 0.1s;
        }

        .food:hover {
            background-color: #FF3500;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.65);
            transition: .1s ease-out;
            transition-delay: 0.2s;
        }

        .container {
            margin-top: 40px;
            margin-bottom: 100px;
        }
    </style>
    <div class="container">
        <div class="container">

            <div class="row">

                <div class="col-lg-3">

                    <h1 class="my-4">Shop Name</h1>
                    <div class="list-group list-group-flush" style="border-radius: 15px">
                        <a href="{% url 'menu:menu' %}" class="list-group-item menu-list">Пицца</a>
                        <a href="{% url 'menu:drinks' %}" class="list-group-item menu-list">Напитки</a>
                        <a href="#" class="list-group-item menu-list">Соусы</a>
                    </div>

                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-9">
                    <div class="row">

                        {% for sauce in object_list %}
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100 food">
                                    <a href="{% url 'menu:detail_sauce' slug=sauce.slug %}">
                                        <img class="card-img-top" src="{{ sauce.img }}" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="{% url 'menu:detail_sauce' slug=sauce.slug %}"
                                               style="color: aliceblue">{{ sauce.name }}</a>
                                        </h4>
                                        <p class="card-text">{{ sauce.composition }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <h5>{{ sauce.price }} ₸</h5>
                                        <h4>{{ sauce.size }} Л</h4>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.col-lg-9 -->

            </div>
            <!-- /.row -->
        </div>
{% endblock %}