{% extends 'base.html' %}

{% block title %}
    Доставка и оплата
{% endblock %}

{% block content %}
    <style>
    .list-group-item {
            border: none;
            font-size: 16px;
        }
    ul {
        margin-bottom: 50px;
    }
    </style>
    <div class="container" align="justify" style="margin-right: 25px">
        <div class="row">
            <div class="col-12">
                <h3 class="display-5">
                    Доставка и оплата
                </h3>
            </div>
            <div class="col-md-8">
                <p>Доставка в течение часа* осуществляется по следующим районам города Караганды:</p>

                <ul class="list-group">
                    <li class="list-group-item">
                        Майкудук
                    </li>
                    <li class="list-group-item">
                        Новый город
                    </li>
                    <li class="list-group-item">
                        Юго-Восток (до Дворянского Гнезда)
                    </li>
                    <li class="list-group-item">
                        Михайловка (до моста ДСК)
                    </li>
                    <li class="list-group-item">
                        Федоровка
                    </li>
                </ul>

                <p> *в связи с погодными условиями, возможны задержки при доставке</p>
                <p>БЕСПЛАТНАЯ доставка еды при заказе на сумму более чем 2500 тг. В праздничные дни от 5 000 тг.</p>
                <p>Если сумма заказа не превышает 2500 тг, то доставка оплачивается отдельно.</p>
                <p>В отдаленные районы время и стоимость доставки уточняйте у оператора.</p>
                <p>Минимальный заказ* от 2500 тг (в праздничные дни от 5 000 тг), за вычетом личной скидки или
                    бонусов.</p>
                <p>Если иное не оговорено условиями акций и спецпредложений</p>
                <p>В комплекте к заказу прилагаются :</p>
                <ul class="list-group">
                    <li class="list-group-item">
                        Имбирь
                    </li>
                    <li class="list-group-item">
                        Васаби
                    </li>
                    <li class="list-group-item">
                        Соевый соус
                    </li>
                    <li class="list-group-item">
                        Зубочистки
                    </li>
                    <li class="list-group-item">
                        Палочки японские
                    </li>
                    <li class="list-group-item">
                        Салфетки
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <h2 class="display-5">
                    ОПЛАТА
                </h2>
                <p>
                    Покупатель оплачивает заказ курьеру наличными или банковской картой при получении. При расчете
                    крупными купюрами, предупредите, пожалуйста, оператора для подготовки сдачи. Чтобы воспользоваться
                    оплатой по карте необходимо предупредить об этом оператора. К вам будет направлен курьер с мобильным
                    платежным терминалом.
                </p>

                <p>А также Вы можете оплатить онлайн через сервис “Alfabank”.</p>
            </div>
            <div class="col-md-8">
                <h2 class="display-5">
                    КОНТРОЛЬ КАЧЕСТВА
                </h2>
                <p>В целях улучшения качества обслуживания у нас работает - Служба контроля качества.</p>
                <p>Вы можете оставлять Ваши отзывы и комментарии по поводу нашего сервиса по телефону +7 (775)
                    XXX-XX-XX.</p>
                <p>Этот номер указан на всех коробочках</p>
                <p>Если у Вас появились замечания и пожелания к нашей продукции, сообщите нам и мы постараемся
                    оперативно решить этот вопрос.</p>
                <p>Претензии по качеству продукции не принимаются, если блюдо было съедено до обращения в службу
                    контроля качества.</p>
            </div>
        </div>
    </div>
{% endblock %}